<h1>Become a Dev! 💻</h1>

<div class="container m-1">
<%= simple_form_for(@profile) do |f| %>
  <%= f.input :name %>
  <%= f.input :bio %>
  <%= f.input :day_rate %>
  <%= f.hidden_field :rating, value: 0 %>
  <%= f.input :category %>
  <%= f.input :photo, as: :file, label: "Upload a picture of yourself" %>
  <%= f.submit %>
<% end %>
</div>
<br>
<%= link_to "Back", profiles_path %>
