<% stars = @profile.rating %>
<% minus_starts = 10 - @profile.rating %>

<br>
<div class="container">
  <div><h1><%= @profile.name %></h1></div>
    <div class="pic-with-bio">
      <img class="avatar-large" src="https://static.vecteezy.com/system/resources/previews/002/275/847/non_2x/male-avatar-profile-icon-of-smiling-caucasian-man-vector.jpg" alt="profile pic">
      <div class="m-2"><%= @profile.bio %></div>
    </div>
    <div class="flex-container">
    <br>
    <div class="flex-child">
    <div>Rating:
      <h5>
        <% stars.times do%>
          <%="â­ï¸" %>
        <% end %>
        <% 10 - minus_starts.times do%>
          <%="â˜†" %>
        <% end %>
      </h5>
    </div>
    <div>Expert on:
      <h5><%= @profile.category.capitalize %> Developer ðŸ’»</h5>
    </div>
  </div>
    <div class="flex-child card rounded-7" >
  <%=render "bookings/new"%>
  </div>
  </div>
  <%= link_to profiles_path(@profile), { class: "btn btn-primary" } do %>
      Back To All Devs
    <% end %>
  <br>

</div>
