<h1>This is the profile show page</h1>
<div><%= @profile.name %></div>
<br>
<div><%= @profile.bio %></div>
<br>
<div><%= @profile.rating %></div>
<br>
<div><%= @profile.category %> </div>
<br>
<%= link_to "Back", profiles_path(@profile) %>
