<div class= "booking-form">
  <h2> Book <%= @profile.name %> </h2>
  <p> <%= @profile.name%>'s day rate is £<%= @profile.day_rate%> </p>
   <%= simple_form_for [@profile, @booking] do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <div class= "bookingcosts">

      <div class="total">
     <%# <h3> Total cost: <%= @profile.day_rate * (end_date%>
     </div>
   </div>
   <%= f.submit "Book #{(@profile.name).split(" ").first}?", class: "btn btn-primary" %>
   <br>
  <%end%>
</div>
