<div class = "container">
  <h1> Adjust Booking with <%= @profile.name %> </h1>

  <div class= "booking-form">
    <p> <%= @profile.name%>'s day rate is £ <%= @profile.day_rate%></p>
  <%= simple_form_for [@profile, @booking] do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.submit "Update!", class: "btn btn-primary" %>
    <br>
  <%end%>
</div>
</div>
