<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mb-3 sticky-top">
  <div class="container-fluid">
    <% if user_signed_in? %>
      <%= link_to "/profiles", class: "navbar-brand" do %>
        <%= image_tag 'devify_logo.png' %>
      <% end %>
    <% else %>
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag 'devify_logo.png' %>
      <% end %>
    <% end %>
    <%= form_with url: profiles_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a developer"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

          <div id = "signup_button">
            <%= link_to new_profile_path, { class: "btn btn-sm btn-primary" } do %>
              Become A Dev
            <% end%>
          </div>

          <div id = "check_bookingsbutton">
            <%= link_to user_bookings_path, { class: "btn btn-sm btn-primary mx-1" } do %>
              Booked Devs
            <% end%>
          </div>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "nav-link" %>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Signup", "/users/sign_up", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", "/users/sign_in", class: "nav-link" %>
          </li>
         <% end %>
      </ul>
    </div>
  </div>
</div>
